<div class="p-3 text-white">
    <h5>JRS Express</h5>
    <hr />
    <NavLink class="nav-link" href="/account/login">Login</NavLink>

    <p class="menu-header">Dashboard</p>
    <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">Overview</NavLink>

    <p class="menu-header">Master Data</p>
    <NavLink class="nav-link" href="/master/branches">Branches</NavLink>
    <NavLink class="nav-link" href="/master/chart-of-accounts">Chart of Accounts</NavLink>
    <NavLink class="nav-link" href="/master/banks">Banks</NavLink>
    <NavLink class="nav-link" href="/master/parties">Customers & Vendors</NavLink>

    <p class="menu-header">Transactions</p>
    <NavLink class="nav-link" href="/accounting/journal-entries">Journal Entries</NavLink>
    <NavLink class="nav-link" href="/accounting/income-deposit">Income & Deposits</NavLink>
    <NavLink class="nav-link" href="/accounting/expenses-withdrawals">Expenses & Withdrawals</NavLink>
    <NavLink class="nav-link" href="/accounting/cash-disbursements">Cash Disbursement</NavLink>
    <NavLink class="nav-link" href="/accounting/check-printing">Check Printing</NavLink>

    <p class="menu-header">Reports (BIR CAS)</p>
    <NavLink class="nav-link" href="/reports/general-ledger">General Ledger</NavLink>
    <NavLink class="nav-link" href="/reports/income-statement">Income Statement</NavLink>
    <NavLink class="nav-link" href="/reports/cas">BIR CAS Reports</NavLink>

    <p class="menu-header">Administration</p>
    <NavLink class="nav-link" href="/admin/users-roles">Users & Roles</NavLink>
    <NavLink class="nav-link" href="/admin/audit-logs">Audit Logs</NavLink>
</div>
