<Router AppAssembly="typeof(Program).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="routeData" DefaultLayout="typeof(Layout.MainLayout)">
            <NotAuthorized>
                <p class="m-3">You are not authorized to access this page.</p>
            </NotAuthorized>
        </AuthorizeRouteView>
    </Found>
</Router>
